<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<script src="https://kit.fontawesome.com/e7558c5ba9.js"></script>-->

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" th:href="@{/css/index.css}">
    <title>Inicio</title>

    <div class="jumbotron">
            <nav class="navbar navbar-expand-lg navbar-light bg-light Bnavegacion">
                <a href="#" class="navbar-brand">D'ROCHA S.A</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidoNavegacion"
                    aria-controls="contenidoNavegacion" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Contenido de navegacion-->
                <div class="collapse navbar-collapse" id="contenidoNavegacion">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item dropdown">
                            <img id="fotoU_nu" src="https://via.placeholder.com/100" alt="usuario" class="fotoUsuario">
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown" id="navDrop_nu">
                                Informacion Usuario
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a href="#" class="dropdown-item">Cerrar</a>
                                <div class="dropdown-divider"></div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
</head>
<body>
<!-- Para la botonera de inicio-->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--botonera-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">           
                    <li class="nav-item active">
                        <a class="nav-link" href="inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item active">
                            <a class="nav-link" href="registro.html"> Registro<span class="sr-only">(current)</span></a>
                           </li>
                        
                    <li class="nav-item active">
                            <a class="nav-link" href="usuario.html">Usuarios</a>
                        </li>
                     <li class="nav-item active">
                                <a class="nav-link" href="objetivos.html">Objetivos</a>
                     </li>    
                    
                </ul>
                
            </div>
        </nav>
    </div>
<!---->

<!--Contenido de inicio-->

<div class="container--head" style="color: #bbb" >
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <div class="carousel-tooltip">
            <div class="caraousel-tooltip-item active" data-index="0">
              <a href="#" class="tooltip-carousel" style="top:100px;left: 100px;padding:5px 10px;background:#f00;color:#fff;display:inline-block" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <span class="fa fa-heart"></span>
              </a>
              <a href="#" class="tooltip-carousel" style="top:120px;left: 400px;padding:5px 10px;background:#000;color:#fff;display:inline-block" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <span class="fa fa-star"></span>
              </a>
            </div>
            <div class="caraousel-tooltip-item" data-index="1">
              <a href="#" class="tooltip-carousel" style="top:120px;left: 300px;padding:5px 10px;background:#000;color:#fff;display:inline-block" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <span class="fa fa-plus"></span>
              </a>
            </div>
            <div class="caraousel-tooltip-item" data-index="2">
              <a href="#" class="tooltip-carousel" style="top:100px;left: 500px;padding:5px 10px;background:#000;color:#fff;display:inline-block" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <span class="fa fa-plus"></span>
              </a>
            </div>
            <div class="caraousel-tooltip-item" data-index="3">
              <a href="#" class="tooltip-carousel" style="top:20px;left: 300px;padding:5px 10px;background:#000;color:#fff;display:inline-block" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <span class="fa fa-plus"></span>
              </a>
            </div>
            <div class="caraousel-tooltip-item" data-index="4">
              <a href="#" class="tooltip-carousel" style="top:180px;left: 200px;padding:5px 10px;background:#000;color:#fff;display:inline-block" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                <span class="fa fa-plus"></span>
              </a>
            </div>
          </div>
      
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>
      
          <!-- imagenes en movimiento-->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://www.sertrans.es/wp-content/uploads/2016/09/transporte-medicamentos.jpg" alt="..." style="width:100%">
              <div class="carousel-caption">
                <h3>D’ROCHA S.A </h3> Controlamos la proliferación del T-Virus
              </div>
            </div>
            <div class="item">
              <img src="https://www.engenerico.com/wp-content/uploads/2019/03/medicamentos-AESEG-Asociacion-Espanola-de-los-Medicamentos-Genericos.jpg" alt="..." style="width:100%">
              <div class="carousel-caption">
                <h3>D’ROCHA S.A </h3> Controlamos la proliferación del T-Virus
              </div>
            </div>
            <div class="item">
              <img src="https://statics-diariomedico.uecdn.es/cms/2019/07/medicamentos.jpg" alt="..." style="width:100%">
              <div class="carousel-caption">
                <h3>D’ROCHA S.A </h3> Controlamos la proliferación del T-Virus
              </div>
            </div>
            <div class="item">
              <img src="https://consultorsalud.com/wp-content/uploads/2018/03/66392258_ml.jpg" alt="..." style="width:100%">
              <div class="carousel-caption">
                <h3>D’ROCHA S.A </h3> Controlamos la proliferación del T-Virus
              </div>
            </div>
            <div class="item">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_1Kl8b4PZ7XdeIiVRcgSOUHziVqjVwQDA5irLbPDy4aWyVqhu" alt="..." style="width:100%">
              <div class="carousel-caption">
                <h3>D’ROCHA S.A </h3> Controlamos la proliferación del T-Virus
              </div>
            </div>
          </div>
      
          <!-- Controles -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      
      <!-- Fontawesome -->
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
      
      <!-- Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!---->


<!--contenido pagina-->
    <div class="container mt-3">
        <div class="row">
        <div class="col-md-4">
            <h1>Medicamentos</h1>
            <p>
            Los Medicamentos son una sustancia con propiedades para el tratamiento o la prevención de enfermedades en los seres humanos
            </p>
        </div>
        <div class="col-md-4">
            <h1>Vacunas</h1>
            <p>Una vacuna es cualquier preparación cuya función es la de generar del organismo inmunidad frente a una determinada enfermedad</p>


        </div>
        <div class="col-md-4">
            <h1>Jarabes</h1>
            <p>Medicamento que se presenta en forma de líquido espeso, generalmente dulce y pegajoso, elaborado a partir de una solución saturada de agua y azúcar a la que se añaden ingredientes naturales o químicos con propiedades curativas.</p>

        </div>
    </div>
    </div>
<!-- Pie de Pagina-->
    <footer class="footer" >
        <div class="contenedor">
          <div class="social">
            <a href="#" class="icon-facebook"></a>
            <a href="#" class="icon-twitter"></a>
            <a href="#" class="icon-gplus"></a>
          </div>
          <p class="copy">&copy; D’ROCHA S.A </p>
        </div>
      </footer>

</body>
</html>