<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!--<script src="https://kit.fontawesome.com/e7558c5ba9.js"></script>-->

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/inicio.css" th:href="@{/css/index.css}">
    <title>Registro</title>

    <div class="jumbotron">
            <nav class="navbar navbar-expand-lg navbar-light bg-light Bnavegacion">
                <a href="#" class="navbar-brand">D'ROCHA S.A</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenidoNavegacion"
                    aria-controls="contenidoNavegacion" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Contenido de navegacion-->
                <div class="collapse navbar-collapse" id="contenidoNavegacion">
                    <ul class="navbar-nav  ml-auto">
                        <li class="nav-item dropdown">
                            <img id="fotoU_nu" src="https://via.placeholder.com/100" alt="usuario" class="fotoUsuario">
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown" id="navDrop_nu">
                                Informacion Usuario
                            </a>
                            <!-- <div class="dropdown-menu" aria-labelledby="navDrop">
                                <a href="#" class="dropdown-item">Cerrar</a>
                                <div class="dropdown-divider"></div>
                            </div> -->
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
</head>
<body>
      
               
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="inicio.html">Inicio</a>
                                </li>
                                <li class="nav-item active">
                                        <a class="nav-link" href="registro.html"> Registro<span class="sr-only">(current)</span></a>
                                       </li>
                                    
                                <li class="nav-item active">
                                        <a class="nav-link" href="usuario.html">Usuarios</a>
                                    </li>
                                 <li class="nav-item active">
                                            <a class="nav-link" href="objetivos.html">Objetivos</a>
                                 </li>    
                                
                            </ul>
                
            </div>
            
        </nav>
    </div>

     
</br>
    <div class="container">
        <div class="form-row-2">
            <form>
                <h1>Registro de Usuario</h1>
                    <div class="form-group">
                            <label for="exampleFormControlSelect1">Seleccione el Tipo de Documento</label>
                            <select class="form-control" id="tipoDocumento">
                              <option>Cedula de Ciudadania</option>
                              <option>Tarjeta de Identidad</option>
                              <option>Cedula de Extranjeria</option>
                              <option>Registro Civil</option>
                           </select>

                    <div class="form-group">
                            <label for="exampleFormControlInput1">Documento</label>
                            <input type="text" class="form-control" id="Documento" placeholder="Ingrese el Documento">
                          </div>

                          <div class="form-group">
                                <label for="exampleFormControlInput1">Nombres</label>
                                <input type="text" class="form-control" id="nombres" placeholder="Ingrese el nombre">
                              </div>
          
                              <div class="form-group">
                                      <label for="exampleFormControlInput1">Apellidos</label>
                                      <input type="text" class="form-control" id="apellidos" placeholder="Ingrese los Apellidos">
                                    </div>
          
                    <div class="form-group">
                            <label for="exampleFormControlInput1">Telefono</label>
                            <input type="text" class="form-control" id="telefono" placeholder="Ingrese el Telefono">
                             </div>

                    <div class="form-group">
                            <label for="exampleFormControlInput1">Direccion</label>
                            <input type="text" class="form-control" id="direccion" placeholder="Ingrese la Direccion">
                          </div>
                    
                    <div class="form-group">
                             <label for="exampleFormControlInput1">Correo Eletronico</label>
                              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejemplo@servidor.com">
                          </div>      
                  

                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Seleccione el Cargo a Ocupar</label>
                      <select class="form-control" id="cargo">
                        <option>Financiero</option>
                        <option>Servicio al Cliente</option>
                        <option>Gestion Humana</option>
                        <option>I + D</option>
                     </select>
                    </br>
                     <button id="btn_usuario_form" form="ingresar_usuario" type="button"
                     class="btn btn-primary btn-lg">Guardar</button>
                  </form>
        </div>
    </div>
</body>
</html>